.headshot-img {
  max-width: 100%;
  height: 150px;
}

.site-header .site-logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.site-header .site-logo a {
  margin-left: 1rem;
}

.site-logo .usa-logo__text::before {
  height: 2.75rem;
  width: 1.5rem;
  background-image: url(../assets/images/blue-cfm-logo-small.png);
  content: "";
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  vertical-align: middle;
}

.usa-navbar.site-navbar {
  width: 100%;
}

.container {
  clear: both;
  content: "";
  display: block;
}

.site-hero-image {
  min-height: 300px;
  background-image: url("../assets/images/hack_night_flyer_resized.jpg");
}

@media all and (max-width: 720px){
  .site-hero-image {
    background-image: url("../assets/images/hack_night_vert.jpg");
  }
}


.site-hero__callout {
  opacity: 0.75;
  background: black;
}

.learning-groups .label {
 background-color: #77e5a3;
}

.working-groups .label {
  background-color: #8ebef2;
}
