.headshot_back {
  background-color:#ffe6b1;
}

.headshot-img {
  height: 20vh;
  /* width: 20vh; */
  position: relative;
}

.headshot_back:hover {
  background-color: #23235A;
}

.site-logo img {
  display: inline-block;
  max-height: 60px;
  max-width: 100%;
}

.container {
  clear: both;
  content: "";
  display: block;
}

.site-hero-image {
  background-image: url("../assets/images/hack_night_flyer_resized.jpg");
}

@media all and (max-width: 720px){
  .site-hero-image {
    background-image: url("../assets/images/hack_night_resized.jpg");
  }
}


.site-hero__callout {
  opacity: 0.75;
  background: black;
}

.learning-groups .label {
 background-color: #77e5a3;
}

.working-groups .label {
  background-color: #8ebef2;
}
